.container {
  width: 100%;
  height: 98vh;
  background-color: burlywood;
}

.controls {
  width: 250px;
  height: 400px;
  background-color: cornsilk;
  display: inline-block;
}

.list {
  display: inline-block;
  background-color: coral;
}

.price-input-wrong {
  background-color: lightpink;
}