.container {
  width: 100%;
  display: flex;
  background-color: lightgray;
}

.controls {
  width: 20%;
  height: 400px;
  padding-left: 20px;
  background-color: Thistle;
}

.list {
  width: 80%;
}

.service-message {
  text-align: center;
}

.card {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  background-color: Lavender;
}

.card-top, .card-bottom {
  height: 40px;
  background-color: MediumAquaMarine;
  padding-top: 20px;
  padding-left: 20px;
}

.card-connections {
  padding-left: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100px;
}

.price-input-wrong {
  background-color: lightpink;
}

.price-input {
  width: 140px;
}